body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation{
    width: 100%;
}

#logo{
    float: left;
}

nav a{
    margin: 10px;
    margin-bottom: 15px;
    float: right
}

.info{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(167, 135, 255);
}

.info h1{
    padding-bottom: 50px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boxes div{
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: mediumslateblue;
    border: 1px black solid;
    padding: 70px;
    padding-left: 115px;
    padding-right: 115px;
    margin: 30px;
    transition: .3s;
}

.boxes div:hover{
    background-color: lightgreen
}

@media screen and (max-width: 800px){
    body{
        background-color: maroon;
    }
    a{
        color: white;
    }
    .info{
        order: 2;
    }
    .boxes{
        order: 1;
    }
    .boxes div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        margin: 10px;
        margin-bottom: 20px;
    }
    nav a:hover{
        background-color: rgb(77, 133, 77);
    }
}